<div class="row">
  <div class="col-xs-12"><button class="btn btn-success" (click)="onAddRecipe()">Add new Recipe</button></div>
</div>
<hr />
<div class="row">
  <div class="col-md-4"><input [(ngModel)]="newRecipe.name" /></div>
  <div class="col-md-4"><input [(ngModel)]="newRecipe.description" /></div>
  <div class="col-md-4"><input [(ngModel)]="newRecipe.imagePath" /></div>
</div>
<hr />

<div class="row">
  <div class="col-md-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipeElement of recipes">
      <app-recipe-item [recipe]="recipeElement" (changeSelectRecipe)="onDisplayRecipeDetail(recipeElement)"></app-recipe-item>
    </a>
  </div>
</div>
